<form method="POST" action="/account/add">
  <p class="form-header">New Account</p>
  <div class="form-field">
    <label class="info-item" for="accountNumber">Account Number:</label>
    <input type="text" id="accountNumber" name="accountNumber" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="accountName">Account Name:</label>
    <input type="text" id="accountName" name="accountName" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="currentBalance">Current Balance:</label>
    <input type="text" id="currentBalance" name="currentBalance" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="routingNumber">Routing Number:</label>
    <input type="text" id="routingNumber" name="routingNumber" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="interest">Interest:</label>
    <input type="text" id="interest" name="interest" required>
  </div>
  <button class="add-btn">Add Account</button>
</form>
