<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Money Transfer</title>
  <style>
  body {
            font-family: Arial, sans-serif;
            background-color: #d7e0a7;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-top: 20px;
}

#container {
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
        }

        select, input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            background-color: #1183e0;
            color: #fff;
            padding: 10px;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #1183e0;
        }

  </style>
</head>
<body>
  <div id="container">
  <h2>Money Transfer</h2>
  <form id="transferForm">

    <label for="fromAccount">From Account:</label>
    <input type="text" id="fromAccount" name="fromAccount" placeholder="Enter Sender Account Number"required>

    <label for="toAccount">To Account:</label>
    <input type="text" id="toAccount" name="toAccount" placeholder="Enter Recipient Account Number"required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" placeholder="Enter amount">

    <button type="button" onclick="transferMoney()">Transfer</button>
  </form>
</div>

  <script>
  async function transferMoney() {
  const amount = document.getElementById('amount').value;
  const date = document.getElementById('date').value;
  const fromAccount = document.getElementById('fromAccount').value;
  const toAccount = document.getElementById('toAccount').value;

  const response = await fetch('/transfer-money', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      amount,
      date,
      type: 'Transfer',  // Assuming 'Transfer' is the transaction type
      accountNo: fromAccount,
      otherAccountNo: toAccount,
      // Include any other required fields based on your server-side implementation
    }),
  });

  if (response.ok) {
    // Handle success, e.g., show a success message
    alert('Money transferred successfully!');
  } else {
    // Handle error, e.g., show an error message
    alert('Error transferring money. Please try again.');
  }
}

  </script>
</body>
</html>
