body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.form {
  text-align: left;
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Add this property */
}

h1 {
  color: #e74c3c;
  display: inline-block; /* Add this property */
}

p {
  display: inline-block; /* Add this property */
  margin: 0 10px; /* Add margin for spacing */
}

.form__group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.text,
.password {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
}
