<form method="POST" action="/creditCard/add">
  <p class="form-header">New Credit Card</p>
  <div class="form-field">
    <label class="info-item" for="accountNumber">Account Number:</label>
    <input type="text" id="accountNumber" name="accountNumber" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="accountName">Account Name:</label>
    <input type="text" id="accountName" name="accountName" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="currentBalance">Current Balance:</label>
    <input type="text" id="currentBalance" name="currentBalance" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="totalLimit">Total Limit:</label>
    <input type="text" id="totalLimit" name="totalLimit" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="availableLimit">Available Limit:</label>
    <input type="text" id="availableLimit" name="availableLimit" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="apr">APR:</label>
    <input type="text" id="apr" name="apr" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="statementBalance">Statement Balance:</label>
    <input type="text" id="statementBalance" name="statementBalance" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="minimumPaymentDue">Minimum Payment Due:</label>
    <input type="text" id="minimumPaymentDue" name="minimumPaymentDue" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="paymentDueDate">Payment Due Date:</label>
    <input type="date" id="paymentDueDate" name="paymentDueDate" required>
  </div>
  <div class="form-field">
    <label class="info-item" for="closingDate">Closing Date:</label>
    <input type="date" id="closingDate" name="closingDate" required>
  </div>
  <button class="add-btn">Add Credit Card</button>
</form>
