<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <style>
    a {
      display: block;
      margin-top: 20px;
      text-decoration: none;
      color: #3498db;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h2>Profile Settings</h1>
  <a href="/profile/contact">Contact Info ></a>
  <a href="/profile/income">Income Update ></a>

  <h2>Login Settings</h1>
  <a href="/profile/username">Change Username ></a>
  <a href="/profile/password">Change Password ></a>
  <br>
  <a href="/dashboard">Back to Dashboard ></a>
</body>
</html>
