<h1>Update Password Page</h1>

<form method="POST" action="/profile/password">
  <label for="currentPassword">Current Password:</label>
  <input type="password" id="currentPassword" name="currentPassword" required>
  <br>
  <label for="newPassword">New Password:</label>
  <input type="password" id="newPassword" name="newPassword" required>
  <br>
  <label for="confirmNewPassword">Confirm New Password:</label>
  <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
  <button>Update</button>
</form>
