<h1>Update Username Page</h1>

<form method="POST" action="/profile/username">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" value="<%= customer.username %>" required>
  <button>Update</button>
</form>
